
Username: <%= comment.user.username %> </br>
Comment: <%= comment.content %> </br>
<a href="/posts/<%=post.id%>/comments/new?comment_id=<%=comment.id%>">Add comment</a>
</br>
<ul>
<% comments[comment.id].each do |child| %>
  <li><%= render "comment", comment: child, post: post, comments: comments %></li>
<% end %>
</ul>
