<h1>Title: <%= @post.title %></h1>
<p>Sub: <%= @post.subs.map {|sub| sub.title}.join(", ") %></p>
<p>Author: <%= @post.author.username %></p>
<p><%=  @post.url == "" ? "" : "URL: " + @post.url %></p>
<p>Content: <%= @post.content %></p>

<%= button_to "Edit this post", edit_post_url(@post), method: :get %>
